body{
	margin: 0px;
	background-color: #6696c8;
    font-family: 'Gelasio', serif;
}
.title{
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
}
.leftside{
			/* background-color: gray; */
			min-height: 100%; 
			font-family: 'Montserrat', sans-serif;
			color: white;
		}
		.rightside{
			/* background-color: red; */
			border-left: 1.5px solid white;
			min-height: 100%;
		}
		.profile-photo{
			border-style: 30px solid white;
			border-radius: 250px;
			height: 200px;
			width: 200px;
		}
		.list-group-item{
			
			background-color: #6696C8;
			border-radius: 0px;
			border: none;
			color: white;
			font-family: 'Montserrat', sans-serif;
			font-size: 15px;
		}